{% layout 'layout.liquid' %}

{% block content %}
<a href="/adopt-a-paw/home" class="btn btn-info">Home</a>

<div><a href="/adopt-a-paw/pets/new">Create New Pet Post</a>
</div>
<div>
    <h2 class="display-6">All Pet Listing</h2>
    <div class="row">

        {% for pet in pets %}
            <p>inside for loop</p>
            <div class="card" style="width: 18rem">
            <img src="`{{pet.images}}`" alt="img">
                <a href="./{{pet._id}}"><h5 class="card-header">{{pet.title}}</h5></a>
                <div class="card-body">
                    <ul class='petInfo'>
                    <li>Cost: {{pet.cost}}</li>
                    <li>Location: {{pet.location}}</li>
                    </ul>
                </div>
                <a href="/pets/{{pet._id}}/edit" class="btn btn-primary">Edit Pet</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}