{% layout 'layout.liquid' %}

{% block content %}
<a href="/adopt-a-paw/pets/index" class="btn btn-info">Pet Posts</a>
<div>
    <h2 class="display-7">{{pet.title}}</h2>
    <div class="row">
            <div class="card" style="width: 50rem">
            <div class="pics">
            <img src="{{pet.images}}" alt="img" style=" height: 300px; width: auto">
            </div>
                
                <div class="card-body">
                    <ul class='petInfo'>
                    <li>Cost: {{pet.cost}}</li>
                    <li>Name: {{pet.name}}</li>
                    <li>Breed: {{pet.breed}}</li>
                    <li>Sex: {{pet.sex}}</li>
                    <li>Age: {{pet.age}}</li>
                    <li>Color: {{pet.color}}</li>
                    <li>Size: {{pet.size}}</li>
                    <li>Location: {{pet.location}}</li>
                    <li>Name of contact: {{pet.name_of_contact}}</li>
                    <li>Contact info: {{pet.contact_info}}</li>
                    </ul>
                </div>
                {% if loggedIn %}
                <a href="{{pet._id}}/edit" class="btn btn-primary">Edit Pet Post</a> 
                <form action="/adopt-a-paw/pets/{{pet._id}}/?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
                {% endif %} 
            </div>
    </div>
</div>
<style>
body {
    background-image: url("https://us.123rf.com/450wm/elovich/elovich1704/elovich170400349/75383483-white-wood-texture-background-wooden-table-top-view.jpg?ver=6")
} 
</style>
{% endblock %}