{% layout 'layout.liquid' %}

{% block content %}
<a href="/adopt-a-paw/pets/index}" class="btn btn-info">Item Listing</a>
<div>
    <h2 class="display-6">Pet Show Page</h2>
    <div class="row">
            <div class="card" style="width: 18rem">
            <img src="{{pets.images}}" alt="img">
                <h5 class="card-header">{{pets.title}}</h5>
                <div class="card-body">
                    <ul class='petInfo'>
                    <li>Cost: {{pets.cost}}</li>
                    <li>Name: {{pets.name}}</li>
                    <li>Breed: {{pets.breed}}</li>
                    <li>Sex: {{pets.sex}}</li>
                    <li>Age: {{pets.age}}</li>
                    <li>Color: {{pets.color}}</li>
                    <li>Size: {{pets.size}}</li>
                    <li>Location: {{pets.location}}</li>
                    <li>Name of contact: {{pets.name_of_contact}}</li>
                    <li>Contact info: {{pets.contact_info}}</li>
                    </ul>
                </div>
            </div>
    </div>
</div>
{% endblock %}