{% layout 'layout.liquid' %}

{% block content %}
<div class="container-md">
    <form action="/adopt-a-paw/items/{{item._id}}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit Post</legend>
            <label class="form-label">Title:</label>
            <input 
                type="text" 
                name="title" 
                placeholder="enter title"
                class="form-control"
                value="{{item.title}}"
            >
            <label class="form-label">Description:</label>
            <input 
                type="text" 
                name="item_description" 
                placeholder="enter item description"
                class="form-control"
                value="{{item.item_description}}"
            >
            <label class="form-label">Price:</label>
            <input 
                type="text" 
                name="price" 
                placeholder="enter price"
                class="form-control"
                value="{{item.price}}"
            >
            <label class="form-label">Location:</label>
            <input 
                type="text" 
                name="location" 
                placeholder="enter location"
                class="form-control"
                value="{{item.location}}"
            >
            <label class="form-label">Name of contact:</label>
            <input 
                type="text" 
                name="name_of_contact" 
                placeholder="enter name of contact"
                class="form-control"
                value="{{item.name_of_contact}}"
            >
            <label class="form-label">Contact info:</label>
            <input 
                type="text" 
                name="cantact_info" 
                placeholder="enter contact info"
                class="form-control"
                value="{{item.contact_info}}"
            >
            <label class="form-label">Images:</label>
            <input 
                type="text" 
                name="images" 
                placeholder="enter image url"
                class="form-control"
                value="{{item.images}}"
            >
        </fieldset>
        <div class="btn-group">
            <input type="submit" value="Edit post" class="btn btn-success">
            <a href="/adopt-a-paw/items/index" class="btn btn-warning">Nevermind</a>
        </div>
    </form>
</div>
<style>
body {
    background-image: url("https://us.123rf.com/450wm/elovich/elovich1704/elovich170400349/75383483-white-wood-texture-background-wooden-table-top-view.jpg?ver=6")
} 
</style>
{% endblock %}