{% layout 'layout.liquid' %}

{% block content %}
<a href="/adopt-a-paw/home" class="btn btn-info">Home</a>

<div><a href="/adopt-a-paw/items/new">Create Service & Item Post</a>
</div>
<div>
    <h2 class="display-6">Service & Item Posts</h2>
    <div class="row">

        {% for item in items %}
            <div class="card" style="width: 18rem">
            <a href="./{{item._id}}"><img src="{{item.images}}" alt="img" style=" height: 150px; width: auto"></a>
                <a href="./{{item._id}}"><h5 class="card-header">{{item.title}}</h5></a>
                <div class="card-body">
                    <ul class='itemInfo'>
                    <li>Cost: {{item.price}}</li>
                    <li>Location: {{item.location}}</li>
                    </ul>
                    <div>
                    <small>Created: {{ item.updatedAt }}</small>
                    </div>
                    
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 