{% layout 'layout.liquid' %}

{% block content %}
<a href="/adopt-a-paw/items/index" class="btn btn-info">Service & Item Postings</a>
<div>
    <h2 class="display-7">{{item.title}}</h2>
    <div class="row">

            <div class="card" style="width: 50rem">
            <div>
            <img src="{{item.images}}" alt="img" style=" height: 300px; width: auto">
            </div>
                
                <div class="card-body">
                    <ul class='itemInfo'>
                    <li>Price: {{item.price}}</li>
                    <li>Description: {{item.item_description}}</li>
                    <li>Location: {{item.location}}</li>
                    <li>Name of contact: {{item.name_of_contact}}</li>
                    <li>Contact info: {{item.contact_info}}</li>
                    </ul>
                    <div>
                    <small>Created: {{item.updatedAt }}</small>
                    </div>
                </div>
                {% if LoggedIn %}
                <div>
                <a href="{{item._id}}/edit" class="btn btn-primary">Edit Item Post</a> 
                </div>
                <form action="/adopt-a-paw/items/{{item._id}}/?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form> 
                {% endif %}
            </div>

    </div>
</div>
<style>
body {
    background-image: url("https://us.123rf.com/450wm/elovich/elovich1704/elovich170400349/75383483-white-wood-texture-background-wooden-table-top-view.jpg?ver=6")
} 
</style>
{% endblock %}